<div class="container">
    <form class="container" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
            <h4>
                {{ updateMode ? 'Actualizar Usuario' : 'Registro de Usuario' }}
            </h4>
        </div>

        @if (updateMode) {
            <!-- DPI display (disabled) -->
            <mdb-form-control class="mb-4">
            <input mdbInput type="number" id="registerDPI" name="dpi" class="form-control" [(ngModel)]="registerData.dpi" disabled/>
            <label mdbLabel class="form-label" for="registerDPI">No. DPI</label>
            </mdb-form-control>
        } @else {
            <!-- DPI input -->
            <mdb-form-control class="mb-4">
            <input mdbInput type="number" id="registerDPI" name="dpi" class="form-control" [(ngModel)]="registerData.dpi" required autocomplete="off"/>
            <label mdbLabel class="form-label" for="registerDPI">No. DPI</label>
            </mdb-form-control>
        }

        <!-- Name input -->
        <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="registerName" name="fullName" class="form-control" [(ngModel)]="registerData.fullName" required autocomplete="off"/>
        <label mdbLabel class="form-label" for="registerName">Nombre Completo</label>
        </mdb-form-control>

        <!-- Email input -->
        <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="registerEmail" name="email" class="form-control" [(ngModel)]="registerData.email" required autocomplete="off"/>
        <label mdbLabel class="form-label" for="registerEmail">Correo Electrónico</label>
        </mdb-form-control>

        @if (updateMode) {

            <!-- Fraternity -->
            <mdb-form-control class="mb-4">
                <select class="form-select" [(ngModel)]="registerData.idFraternity" name="fraternity" disabled>
                    <option [value]="0" disabled>Hermandad perteneciente</option>
                    <option *ngFor="let option of fraternities" [value]="option.value">
                        {{ option.label }}
                    </option>
                </select>
            </mdb-form-control>

            <!-- Permissions -->
            <mdb-form-control class="mb-4">
                <select class="form-select" [(ngModel)]="registerData.idPermissions" name="permissions" disabled>
                    <option [value]="0" disabled>Permisos</option>
                    <option *ngFor="let option of permissions" [value]="option.value">
                        {{ option.label }}
                    </option>
                </select>
            </mdb-form-control>

            <!-- Password input -->
            <mdb-form-control class="mb-4">
                <input mdbInput type="password" id="password" name="password" class="form-control" [(ngModel)]="password" required autocomplete="off"/>
                <label mdbLabel class="form-label" for="password">Nueva Contraseña</label>
            </mdb-form-control>

            <!-- Repeat Password input -->
            <mdb-form-control class="mb-4">
                <input mdbInput type="password" id="passwordRepeat" name="passwordRepeat" class="form-control" [(ngModel)]="passwordRepeat" required autocomplete="off"/>
                <label mdbLabel class="form-label" for="passwordRepeat">Repetir Contraseña</label>
            </mdb-form-control>

        } @else {

            <!-- Fraternity -->
            <mdb-form-control class="mb-4">
                <select class="form-select" [(ngModel)]="registerData.idFraternity" name="fraternity">
                    <option [value]="0" disabled>Hermandad perteneciente</option>
                    <option *ngFor="let option of fraternities" [value]="option.value">
                        {{ option.label }}
                    </option>
                </select>
            </mdb-form-control>

            <!-- Permissions -->
            <mdb-form-control class="mb-4">
                <select class="form-select" [(ngModel)]="registerData.idPermissions" name="permissions">
                    <option [value]="0" disabled>Permisos</option>
                    <option *ngFor="let option of permissions" [value]="option.value">
                        {{ option.label }}
                    </option>
                </select>
            </mdb-form-control>

        }

        <!-- Submit button -->
        <button mdbRipple type="submit" class="btn btn-primary btn-block mb-3">
            {{ updateMode ? 'Actualizar' : 'Registrar' }}
        </button>
    </form>
</div>