<div class="row justify-content-center">
    <!-- <div class="col-xl-6">
        <p class="h4 pt-3 text-center">Promedio Alturas</p>
        <div class="chart-container">
            <canvas id="Alturas">
                {{ chartAlturas }}
            </canvas>
        </div>
    </div>
    <div class="col-xl-6">
        <p class="h4 pt-3 text-center">Cantidad cargadores</p>
        <div class="chart-container">
            <canvas id="Devotos">
                {{ chartDevotos }}
            </canvas>
        </div>
    </div>
    <div class="col-xl-9">
        <p class="h4 pt-3 text-center">Cantidad de Recaudaciones</p>
        <div class="chart-container">
            <canvas id="Ventas">
                {{ chartVentas }}
            </canvas>
        </div>
    </div> -->
    <div class="col-xl-6">
        <!-- <p class="h4 pt-3 text-center text-muted">Grafica #1 (Ejemplo)
            <span class="badge rounded-pill badge-notification bg-danger">Próximamente</span>
        </p> -->
        <div class="chart-container">
            <canvas id="Chart1">
                {{ exampleChart1 }}
            </canvas>
        </div>
    </div>
    <div class="col-xl-6">
        <p class="h5 pt-3 text-center">
            Recaudación e Inscripciones por Fecha
        </p>
        <div class="chart-container">
            <canvas id="Chart2">
                {{ exampleChart2 }}
            </canvas>
        </div>
    </div>
    <div class="col-xl-6">
        <p class="h4 pt-3 text-center text-muted">Grafica #3 (Ejemplo)
            <span class="badge rounded-pill badge-notification bg-danger">Próximamente</span>
        </p>
        <div class="chart-container">
            <canvas id="Chart3">
                {{ exampleChart3 }}
            </canvas>
        </div>
    </div>
    <div class="col-xl-6">
        <p class="h4 pt-3 text-center text-muted">Grafica #4 (Ejemplo)
            <span class="badge rounded-pill badge-notification bg-danger">Próximamente</span>
        </p>
        <div class="chart-container">
            <canvas id="Chart4">
                {{ exampleChart4 }}
            </canvas>
        </div>
    </div>
</div>