<div class="container">
    <form class="container" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
            <h4>Registro de Usuario</h4>
        </div>
        <!-- DPI input -->
        <mdb-form-control class="mb-4">
        <input mdbInput type="number" id="registerDPI" name="dpi" class="form-control" [(ngModel)]="registerData.dpi" required autocomplete="off"/>
        <label mdbLabel class="form-label" for="registerDPI">No. DPI</label>
        </mdb-form-control>

        <!-- Name input -->
        <mdb-form-control class="mb-4">
        <input mdbInput type="text" id="registerName" name="fullName" class="form-control" [(ngModel)]="registerData.fullName" required autocomplete="off"/>
        <label mdbLabel class="form-label" for="registerName">Nombre Completo</label>
        </mdb-form-control>

        <!-- Email input -->
        <mdb-form-control class="mb-4">
        <input mdbInput type="email" id="registerEmail" name="email" class="form-control" [(ngModel)]="registerData.email" required autocomplete="off"/>
        <label mdbLabel class="form-label" for="registerEmail">Correo Electrónico</label>
        </mdb-form-control>

        <!-- Fraternity -->
        <mdb-form-control class="mb-4">
            <select class="form-select" (change)="onChangeSelect($event, 'fraternity')">
                <option selected disabled>Hermandad perteneciente</option>
                <option *ngFor="let option of fraternities" [value]="option.value">
                    {{ option.label }}
                </option>
            </select>
        </mdb-form-control>

        <!-- Permissions -->
        <mdb-form-control class="mb-4">
            <select class="form-select" (change)="onChangeSelect($event, 'permissions')">
                <option selected disabled>Permisos</option>
                <option *ngFor="let option of permissions" [value]="option.value">
                    {{ option.label }}
                </option>
            </select>
        </mdb-form-control>

        <!-- Submit button -->
        <button mdbRipple type="submit" class="btn btn-primary btn-block mb-3">
            Registrar
        </button>
    </form>
</div>