<!-- Background image -->
<div class="bg-image-container">
    <div class="bg-image-content">
        <div class="text-overlay">
            <!-- <h1 class="title">Iniciar sesión</h1><br/> -->
        </div>
    </div>
</div>
<!-- Background image -->


<div class="container-fluid px-3">
    <div class="row d-flex justify-content-center login-form-container">
        <div class="col-md-4 d-flex justify-content-center">
            <div class="card w-100">
                <div class="card-body">
                    <form (ngSubmit)="onLogin()">
                        <mdb-form-control class="mb-4">
                            <input mdbInput type="text" id="userDPI" name="dpi" class="form-control" [(ngModel)]="user.dpi" required autocomplete="off"/>
                            <label mdbLabel class="form-label" for="userDPI">DPI</label>
                        </mdb-form-control>

                        <mdb-form-control class="mb-4">
                            <input mdbInput type="password" id="userPassword" name="password" class="form-control" [(ngModel)]="user.pass" required autocomplete="off"/>
                            <label mdbLabel class="form-label" for="userPassword">Contraseña</label>
                        </mdb-form-control>

                        <button mdbRipple type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>